<nav class="sidebar-nav">
  <ul class="nav">
    <li class="nav-title">
      Seznam strani
    </li>

    <li class="nav-item">
      <a [routerLink]="['/reg']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Registracija delavca</a>
    </li>
	
	<li class="nav-item">
      <a [routerLink]="['/posodobi-osebje']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">Posodobitev osebja</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/prijava']" [routerLinkActive]="['router-link-active']"
      [routerLinkActiveOptions]="{exact:true}">
      <i class="fa fa-lock" aria-hidden="true"></i> Odjava</a>
    </li>
  </ul>
</nav>
