<nav>
  <a [routerLink]="['/prijava']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">PRIJAVA</a>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">DOMOV</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
  <a [routerLink]="['/nalogi']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">PREGLED NALOGOV</a>
  <a [routerLink]="['/nalogi/nov']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">KREIRAJ NALOG</a>
</nav>
