<div class="app-body">
  <div class="sidebar">
    <sd-navbar-pacient></sd-navbar-pacient>
  </div>
  <main class="main">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-1">
          <i class="fa fa-user-o fa-5x ps-profile-pic" aria-hidden="true"></i>
        </div>
        <div class="ui-grid-col-4 ps-margin-left">
          <h2>{{ pacient.ime }} {{ pacient.priimek }}</h2>
          <i class="fa fa-pencil-square-o fa-lg ps-edit-icon ps-margin-left" aria-hidden="true"></i>
          <div class="ps-profile-label ps-margin-left">
            <i class="fa fa-map-marker ps-margin-right" aria-hidden="true"></i>
            <small>hočem okoliš</small>
          </div>
        </div>
      </div>
      <!-- Body od vseh osebnih podatkov -->
      <div class="ui-grid-row pacient">
        <div class="ui-grid-col-12">

          <!-- datum rojstva -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Rojen
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.datumRojstva | date }}
            </div>
          </div>

          <!-- stevilka kartice -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Številka kartice
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.stevilkaPacienta }}
            </div>
          </div>

          <!-- Naslov -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Naslov
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.ulica }} {{ pacient.hisnaStevilka }}, {{pacient.posta}} {{pacient.kraj}}
            </div>
          </div>

          <!-- Eposta -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              E-pošta
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.eposta }}
            </div>
          </div>

          <!-- Telefonska stevilka -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Telefon
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.telefon }}
            </div>
          </div>
        </div>
      </div>

      <div class="ui-grid-row" *ngIf="this.pacient.vezaniPacienti">
        <div class="ui-grid-col-4">
          <h3>Podatki vaših vezanih pacientov</h3>
        </div>
      </div>
      <div class="ui-grid-row vezancek" *ngFor="let vezancek of this.pacient.vezaniPacienti">
        <div class="ui-grid-col-12">
          <!-- Ime in priimek -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Ime in priimek
            </div>
            <div class="ui-grid-col-6">
              {{ vezancek.ime }} {{ vezancek.priimek }} 
            </div>
          </div>

          <!-- datum rojstva -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Rojen
            </div>
            <div class="ui-grid-col-6">
              {{ vezancek.datum_rojstva | date }}
            </div>
          </div>

          <!-- stevilka kartice -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Številka kartice
            </div>
            <div class="ui-grid-col-6">
              {{ vezancek.st_kartice }}
            </div>
          </div>

          <!-- spol -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Spol
            </div>
            <div class="ui-grid-col-6">
              {{ vezancek.spol }}
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
</div>
