:host {
  display: block;
}

.app-body {
  overflow: visible;
}

label {
  margin-top: 10px;
}

/* Problem pri theme.css in primeng.css Button znacka pobere plav hover*/
.ui-button.ui-button-danger:hover, .ui-button.ui-button-danger:focus {
    background-color: #d43f3a;
    border-color: #d9534f;
}
.ui-button.ui-button-warning:hover, .ui-button.ui-button-warning:focus {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.container-obrazca {
  padding: 30px;
}

.kn-padding-right {
  padding-right: 10px;
}

.kn-padding-left {
  padding-left: 10px;
}

.server-response {
  margin-right: 20px;
}

.kn-margin-right {
  margin-right: 10px; 
}
