<sd-navbar></sd-navbar>
<p>KREIRANJE NALOGA</p>

<form [formGroup]="myForm" novalidate (ngSubmit)="myForm.valid && pregled()">
  <!-- Izvajalec -->
  <div class="container">
    <div class="row justify-content-md-center">

      <div class="col col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Izvajalec</h3>
          </div>
          <div class="panel-body">
            // TODO preko delavca v seji <br>
            Stevilka izvajalca:
            Naziv izvajalca:
          </div>
        </div>
      </div>
      <!-- Zdravnik -->
      <div class="col col-md-6">
        <div class="panel panel-success" >
          <div class="panel-heading">
            <h3 class="panel-title">Zdravnik</h3>
          </div>
          <div class="panel-body">
            // TODO preko seje <br>
            Stevilka zdravnika:
            Naziv zdravnika:
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dropdown za izbiro vrste obiska -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-12 col-md-12">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Vrsta obiska</h3>
          </div>
          <div class="panel-body">
            <div class="form-group" [ngClass]="{'has-error':!myForm.controls.vrstaObiska.valid && !myForm.controls.vrstaObiska.untouched}">
              <select class="form-control" *ngIf="vrsteObiskov" formControlName="vrstaObiska">
                <option *ngFor="let obisk of vrsteObiskov.results" [ngValue]="obisk">
                  {{ obisk.opis }}
                </option>
              </select>
              <small *ngIf="!myForm.controls.vrstaObiska.valid && !myForm.controls.vrstaObiska.untouched" class="text-danger">
                Vrsta obiska je obvezen podatek.
              </small>
            </div>
          </div>
        </div>
        <div *ngIf="!vrsteObiskov?.results">
          <div *ngIf="problemPridobivanja" class="alert alert-warning" role="alert">
            <strong>Opa!</strong> Prišlo je do napake pri povezavi s strežnikom.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Potrebno je napisati material pri aplikaciji injekcij -->
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-12 col-md-12">
        <div class="panel panel-success" *ngIf="prikaziMaterial()">
          <div class="panel-heading">
            <h3 class="panel-title">Material potreben za obisk</h3>
          </div>
          <div class="panel-body">
            <div>
              <div *ngIf="aliRabiZdravilo()">

                <!-- Pri aplikaciji injekcij moras izbrati zdravilo -->
                <div formArrayName="zdravila">
                  <div *ngFor="let zdravilo of myForm.controls.zdravila.controls; let i=index">
                    <div>
                      <span> Zdravilo {{i + 1}}</span>
                      <i class="material-icons clickable" *ngIf="myForm.controls.zdravila.length > 1" (click)="odstraniZdravilo(i)">highlight_off</i>
                    </div>
                    <div [formGroupName]="i"  class="form-group">
                      <!-- Vnosno polje za izbiro zdravila -->
                      <div>
                        <label>Naziv</label>
                        <select class="form-control" formControlName="zdravilo">
                          <option *ngFor="let lek of zdravila.results" [ngValue]="lek">
                            {{ lek.naziv }}
                          </option>
                        </select>
                        <!--<small [hidden]="!myForm.controls.zdravila.controls[i].controls.naziv.valid" class="text-danger">

                      </small>-->
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-info btn-xs" (click)="dodajZdravilo()">Dodaj zdravilo</button>
            </div>

            <!-- Pri odvzemu krvi moras izbrati materiali in kolicino -->
            <div *ngIf="aliRabiMaterial()">
              <div formArrayName="materiali">
                <div *ngFor="let material of myForm.controls.materiali.controls; let i=index">
                  <div>
                    <span> Material {{i + 1}}</span>
                    <i class="material-icons clickable" *ngIf="myForm.controls.materiali.length > 1" (click)="odstraniMaterial(i)">highlight_off</i>
                  </div>
                  <div [formGroupName]="i" class="form-group">
                    <!-- Vnosno polje za izbiro zdravila -->
                    <div>
                      <label>Opis</label>
                      <select class="form-control" formControlName="material">
                        <option *ngFor="let material of epruvete.results" [ngValue]="material">
                          {{ material.opis }}
                        </option>
                      </select>
                      <!--<small [hidden]="!myForm.controls.materiali.controls[i].controls.opis.valid">Opis je obvezno polje</small>-->
                    </div>
                    <!-- Vnosno polje za kolicino -->
                    <div>
                      <label>Kolicina</label>
                      <input class="form-control" type="number" formControlName="kolicina" min="1">
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-info btn-xs" (click)="dodajMaterial()">Dodaj material</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Zavarovana oseba (lahko vec pri obisku otrocnice)-->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12 col-md-12">
      <div class="panel panel-success" >
        <div class="panel-heading">
          <h3 class="panel-title">Zavarovana oseba</h3>
        </div>
        <div class="panel-body">
          <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12 form-group" [ngClass]="{'has-error':!myForm.controls.stevilkaPacienta.valid && !myForm.controls.stevilkaPacienta.untouched}">
                <label>Številka zavarovane osebe</label>
                <input class="form-control" type="text" formControlName="stevilkaPacienta" required/>
                <button type="button" class="btn btn-primary btn-xs" (click)="myForm.controls.stevilkaPacienta.valid && pridobiPodatke()">Pridobi podatke</button>
                <small *ngIf="!myForm.controls.stevilkaPacienta.valid && !myForm.controls.stevilkaPacienta.untouched" class="text-danger">
                  Številka pacienta je obvezna in mora vsebovati 9 števk.
                </small>
              </div>
            </div>
            <div class="ui-grid-row">
              <!-- TODO Napaka za izpad baze? -->
              <div *ngIf="problemPridobivanja" class="ui-grid-col-12 alert alert-warning" role="alert">
                <strong>Joj!</strong> Prišlo je do napake pri pridobivanju podatkov.
              </div>
            </div>
            <div class="ui-grid-row">
              <!-- TODO Izpisi ce je vec pacientov -->
              <div class="ui-grid-col-8" *ngIf="!neveljavnaStevilka && neveljavnaStevilka != undefined && !problemPridobivanja && pacient">
                Datum rojstva: {{ pacient.datumRojstva }} <br>
                Priimek: {{ pacient.priimek }} <br>
                Ime: {{ pacient.ime }} <br>
                Ulica, hišna številka: {{ pacient.ulica }}, {{pacient.hisnaStevilka}} <br>
                Poštna številka: {{ pacient.posta }} <br>
                Kraj: {{ pacient.kraj }} <br>
                Telefonska: {{ pacient.telefon }} <br>
                E-pošta: {{ pacient.eposta }} <br>
                ID kontaktne osebe: {{ pacient.kontaktnaOseba }} <br>
                <!-- Prikazi le ce se je backend odzval? (bi bilo bolje hardkodirano?) -->
                <div *ngIf="myForm.controls.vrstaObiska.value?.vezani_pacienti">
                  Vezani pacienti:
                  <ul>
                    <li *ngFor="let otrok of pacient.vezaniPacienti">
                      {{ otrok.ime }} {{ otrok.priimek }} ({{ otrok.stevilkaPacienta }})
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Izbira casovnega obdobja za obisk -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-12 col-md-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Datum obiska</h3>
        </div>
        <div class="panel-body">
          <div class="ui-grid ui-grid-responsive ui-grid-pad">
            <!-- Vnos prvega datuma -->
            <div class="ui-grid-row">
              <div class="ui-grid-col-12" [ngClass]="{'has-error':!myForm.controls.prviDatum.valid && !myForm.controls.prviDatum.untouched}">
                <label>Datum prvega obiska</label> <br>
                <p-calendar class="ui-fluid" formControlName="prviDatum" dateFormat="dd.mm.yy" [locale]="si" [minDate]="minDate" [disabledDays]="[0,6]" [readonlyInput]="true" required></p-calendar><br>
                <small *ngIf="!myForm.controls.prviDatum.valid && !myForm.controls.prviDatum.untouched" class="text-danger">
                  Datum ni veljaven
                </small>
              </div>
            </div>
            <!-- gumb za izbiro ali je datum obvezen -->
            <div class="ui-grid-row" [ngClass]="{'has-error':!myForm.controls.obvezen.valid}">
              <div class="ui-grid-col-6">
                <div class="ui-grid-col-6">
                  <p-radioButton name="obveznostDatuma" label="Datum je spremenljiv" value="false" formControlName="obvezen"></p-radioButton>
                </div>
                <div class="ui-grid-col-6">
                  <p-radioButton class="left-margin" name="obveznostDatuma" label="Datum je obvezen" value="true" formControlName="obvezen" required></p-radioButton>
                </div>
              </div>
            </div>
            <!-- vnosno polje stevila obiskov -->
            <div class="ui-grid-row">
              <div class="form-group ui-grid-col-12" [ngClass]="{'has-error':!myForm.controls.steviloObiskov.valid && !myForm.controls.steviloObiskov.untouched}">
                <label>Število obiskov</label>
                <input type="number" formControlName="steviloObiskov" class="form-control" min="1" max="10" required>
                <small *ngIf="!myForm.controls.steviloObiskov.valid && !myForm.controls.steviloObiskov.untouched" class="text-danger">
                  Vnesite število obiskov (1 do 10)
                </small>
              </div>
            </div>
            <!-- gumba za izbor bodisi intervala, bodisi koncnega datuma -->
            <div class="ui-grid-row">
              <div formGroupName="obdobjeObiskov" class="ui-grid-col-6">
                <div class="ui-grid-col-6">
                  <p-radioButton name="intervalAliZadnjiDan" label="Izberi interval obiskov" value="vmesniDnevi" formControlName="type"></p-radioButton>
                </div>
                <div class="ui-grid-col-6">
                  <p-radioButton class="left-margin" name="intervalAliZadnjiDan" label="Izberi zadnji datum" value="zadnjiDan" formControlName="type"></p-radioButton>
                </div>
              </div>
            </div>
          <!-- Group za izbiro vmesnih dni med obiski -->
          <div class="ui-grid-row">
          <div class="ui-grid-col-12" formGroupName="obdobjeObiskov" *ngIf="myForm.controls.obdobjeObiskov.controls.type.value == 'vmesniDnevi'" [ngClass]="{'has-error':!myForm.controls.obdobjeObiskov.controls.interval.valid && !myForm.controls.obdobjeObiskov.controls.interval.untouched}">
            <label>Interval med obiski</label>
            <input type="number" min="1" class="form-control" formControlName="interval">
            <small *ngIf="!myForm.controls.obdobjeObiskov.controls.interval.valid && !myForm.controls.obdobjeObiskov.controls.interval.untouched" class="text-danger">
              Vnesite število dni, ki naj pretečejo med obiski
            </small>
          </div>
        </div>
          <!-- Group za izbiro koncnega datuma -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-12" formGroupName="obdobjeObiskov" *ngIf="myForm.controls.obdobjeObiskov.controls.type.value === 'zadnjiDan'" [ngClass]="{'has-error':!myForm.controls.obdobjeObiskov.controls.koncniDatum.valid && !myForm.controls.obdobjeObiskov.controls.koncniDatum.untouche}">
              <label>Datum zadnjega obiska</label><br>
              <p-calendar class="ui-fluid" formControlName="koncniDatum" dateFormat="dd.mm.yy" [locale]="si" [minDate]="minDateKoncen" [disabledDays]="[0,6]" [readonlyInput]="true"></p-calendar><br>
              <small *ngIf="!myForm.controls.obdobjeObiskov.controls.koncniDatum.valid && !myForm.controls.obdobjeObiskov.controls.koncniDatum.untouched" class="text-danger">
                Izberite datum zadnjega obiska
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4 pull-right">
      <button pButton type="button" class="ui-button-danger md-margin" label="Počisti" (click)="myForm.reset()"></button>
    </div>
    <div class="col-4 pull-right">
      <small *ngIf="!myForm.valid" class="text-danger">
        Obrazec še ni veljaven
      </small>
      <button pButton type="submit" label="Naprej" class="md-margin" [disabled]="!myForm.valid"></button>
    </div>
  </div>
  <!-- TODO: sporocilo da je bilo uspesno poslano -->
</div>

<p-dialog header="Pregled vnosov" [(visible)]="pokaziPregled" modal="modal" responsive="true">
    <p>
    Številka zdravnika: <!-- TODO: dobi iz seje --> <br>
    Vrsta obiska: {{ myForm.controls.vrstaObiska.value?.opis}} <br>
    Številka pacienta: {{ myForm.controls.stevilkaPacienta.value }} <br>
    Vezani pacienti: <!-- TODO: dodaj v obrazec moznost izbire vezanega --> <br>
    Je obisk obvezen?: {{ myForm.controls.obvezen.value }} <br>
    Prvi datum: {{ myForm.controls.prviDatum.value }} <br>
    Število obiskov: {{ myForm.controls.steviloObiskov.value }} <br>
    Število dni med obiski: {{ myForm.controls.obdobjeObiskov.controls.interval.value }} <br>
    Datum zadnjega obiska: {{ myForm.controls.obdobjeObiskov.controls.koncniDatum.value }} <br>

    </p>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-check" (click)="pokaziPregled=false; poslji()" label="Pošlji"></button>
                <button type="button" pButton icon="fa-close" class="ui-button-warning" (click)="pokaziPregled=false" label="Popravi"></button>
            </div>
        </p-footer>
</p-dialog>
</form>
