:host {
  display: block;
}

label {
  margin-top: 10px;
}

/* Problem pri theme.css in primeng.css Button znacka pobere plav hover*/
.ui-button.ui-button-danger:hover, .ui-button.ui-button-danger:focus {
    background-color: #d43f3a;
    border-color: #d9534f;
}
.ui-button.ui-button-warning:hover, .ui-button.ui-button-warning:focus {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.prikaz-vezancka {
  margin: 0 0 10px 5px;
  border: 1px solid #ccc;
  border-top: 3px solid #d0e9c6;
  padding: 8px;
}
