<div class="app-body">
  <div class="sidebar">

    <sd-navbar-vodja-zdravnik></sd-navbar-vodja-zdravnik>
  </div>
  <main class="main">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <h2>Vaši delovni nalogi</h2>
        </div>
      </div>
      <!-- Body od vseh osebnih podatkov -->

      za nastavit: clear filter <br/>
      problem: query samo po izdajateljih/sestrah<br/>

      <!--- forma za filtriranje --->
      <div class="ui-grid-col-4">
      <form [formGroup]="filterForm" (ngSubmit)="filtrirajNaloge(filterForm.value)" >
      <div class="form-group">
        <p-calendar formControlName="datumOd" dateFormat="dd.mm.yy" [locale]="si" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2017" placeholder="Izdan od" [maxDate]=minDate inputStyleClass="form-control" class="ui-fluid"></p-calendar>
      </div>
      <div class="form-group">
        <p-calendar formControlName="datumDo" dateFormat="dd.mm.yy" [locale]="si" [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2017" placeholder="Izdan do" [maxDate]=minDate inputStyleClass="form-control" class="ui-fluid"></p-calendar>
      </div>
    <div class="form-group">
      <label>Vrsta obiska</label>
      <select class="form-control" *ngIf="vrsteObiskov" formControlName="vrstaObiska">
        <option *ngFor="let obisk of vrsteObiskov" [ngValue]="obisk">
          {{ obisk.opis }}
        </option>
      </select>
    </div>
    <div class="form-group"></div>
    <div class="form-group">
      <label>Izdajatelj</label>
      <p-autoComplete class="ui-fluid" inputStyleClass="form-control" minLength="3" [ngModel]='pacient' [ngModelOptions]="{standalone: true}"
      [suggestions]="najdeneSestre" field="naziv" (completeMethod)="searchSestra($event)" (onSelect)="izdajateljIzbran($event)" autoHighlight="true"></p-autoComplete>
    </div>
    <div class="form-group">
      <label>Pacient</label>
      <p-autoComplete class="ui-fluid" inputStyleClass="form-control" minLength="3" [ngModel]='pacient' [ngModelOptions]="{standalone: true}"
      [suggestions]="najdeniPacienti" field="naziv" (completeMethod)="searchPacient($event)" (onSelect)="pacientIzbran($event)" autoHighlight="true"></p-autoComplete>
    </div>
    <div class="form-group">
      <label>Sestra</label>
      <p-autoComplete class="ui-fluid" inputStyleClass="form-control" minLength="3" [ngModel]='pacient' [ngModelOptions]="{standalone: true}"
      [suggestions]="najdeneSestre" field="naziv" (completeMethod)="searchSestra($event)" (onSelect)="sestraIzbrana($event)" autoHighlight="true"></p-autoComplete>
    </div>
    <div class="form-group">
      <label>Nadomestna sestra</label>
      <p-autoComplete class="ui-fluid" inputStyleClass="form-control" minLength="3" [ngModel]='pacient' [ngModelOptions]="{standalone: true}"
      [suggestions]="najdeneSestre" field="naziv" (completeMethod)="searchSestra($event)" (onSelect)="sestraNadIzbrana($event)" autoHighlight="true"></p-autoComplete>
    </div>
      <button type="submit" class="btn btn-success">Filtriraj</button>
      <button type="reset" class="btn btn-danger">Pobriši</button>
    </form>
  </div>

      <!--- prikaz delovnih nalogov --->
      <table class="table table-striped table-responsive">
      	<thead>
      		<tr>
            <th>ŠT. NALOGA</th>
            <th>IZDAJATELJ</th>
      			<th>VRSTA OBISKA</th>
            <th>PACIENT</th>
      			<th>SESTRA</th>
            <th>NADOMESTNA SESTRA</th>
      			<th>DATUM IZDAJE</th>
      		</tr>
      	</thead>
      	<tbody>
      		<tr *ngFor="let nalog of delovniNalogi">
            <td class="nalogId {{nalog.id}}" (click)="test(nalog)">{{ nalog.id }}</td>
            <td>{{ nalog.izdajatelj }}</td>
            <td>{{ nalog.ime_obiska }}</td>
      			<td>{{ nalog.ime_pacienta }}</td>
      			<td>{{ nalog.ime_sestre }}</td>
      			<td>{{ nalog.ime_sestre }}</td>
      			<td>{{ nalog.datum_izdaje | date:'dd. MM. yyyy' }}</td>
      		</tr>
      	</tbody>
      </table>

      <p-dialog header="Podrobnosti naloga" [(visible)]="prikaziPodrobnosti" modal="modal" responsive="true">
        <div class="ui-grid ui-grid-responsive ui-grid-pad">
          Izdajatelj: {{ podrobniNalog.izdajatelj }}<br />
          Vrsta obiska: {{ podrobniNalog.ime_obiska }}<br />
          Pacient: {{ podrobniNalog.ime_pacienta }}<br />
          Patronažna sestra: {{ podrobniNalog.ime_sestre }}<br />
          Nadomestna sestra: {{ podrobniNalog.ime_sestre }}<br />
          Datum izdaje: {{ podrobniNalog.datum_izdaje | date:'dd. MM. yyyy' }}<br />
          Material: {{ podrobniNalog.material }}<br />
          Časovno obdobje: {{ podrobniNalog.casovno_obdobje }}<br />
          Časovno interval: {{ podrobniNalog.casovni_interval}}<br />
          Je obvezen datum: {{ podrobniNalog.je_obvezen_datum}}<br />
        </div>
      </p-dialog>

    </div>
  </main>
</div>
