/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

.left-margin {
  margin-left: 20px;
}

.red-color {
  color: red;
}

.clickable {
  cursor: pointer;
}

.md-margin {
  margin: 20px;
  margin-top: 10px;
}

.ps-align-center {
  text-align: center;
}

.ps-vertical-middle {
  vertical-align: middle;
  text-align: right;
}

.ps-nav-item {
  padding: 10px 15px;
}

.ps-height-25 {
  height: 25px;
}

.ps-profile-label {
  color: #b2b1b6; /*b6b6b8*/
  font-weight: 100;
}

.ps-margin-right {
  margin-right: 5px;
}

.ps-margin-left {
  margin-left: 10px;
}

.main {
  padding: 30px;
}

.ps-edit-icon {
  vertical-align: super;
  color: rgb(32, 214, 21);

}

.ps-edit-icon:after {
  display: block;
}
