<sd-navbar></sd-navbar>
  <div class="form-group">
<form [formGroup]="regForm" (ngSubmit)="registriraj(regForm.value)">
<p></p>

      <input class="form-control" formControlName="ime" type="text" placeholder="Ime">
      <small *ngIf="regForm.controls.ime.errors && !regForm.controls.ime.untouched" class="text-danger">Polje je obvezno</small>
      <br/>
      <input class="form-control" formControlName="priimek" type="text" placeholder="Priimek">
      <small *ngIf="regForm.controls.priimek.errors && !regForm.controls.priimek.untouched" class="text-danger">Polje je obvezno</small>
      <br/>

      <p-calendar  formControlName="datumRojstva" dateFormat="dd.mm.yy" [locale]="si" [maxDate]="minDate" [defaultDate]="minDate" [yearNavigator]="true" [monthNavigator]="true" placeholder="Datum rojstva"></p-calendar>
      <small *ngIf="regForm.controls.datumRojstva.errors && !regForm.controls.datumRojstva.untouched" class="text-danger">Polje je obvezno</small>
      <br/><br/>

      <label>Spol: </label>
      <p-radioButton name="spol" label="Ženski" value="false" formControlName="spol"></p-radioButton>
      <p-radioButton class="left-margin" name="spol" label="Moški" value="false" formControlName="spol"></p-radioButton>
      <br/><br/>

      <input class="form-control" formControlName="zavarovanje" type="text" placeholder="Številka zavarovanja" required
        pattern="^\d*$">

      <small *ngIf="regForm.controls.zavarovanje.errors && !regForm.controls.zavarovanje.untouched" class="text-danger">Polje je obvezno</small>
      <small *ngIf="regForm.controls.zavarovanje.errors && regForm.controls.zavarovanje.errors.pattern" class="text-danger">in številka zavarovanja lahko vsebuje le številke</small>
      <br/>


      <div class="col-sm-8">
        <input class="form-control" formControlName="ulica" type="text" placeholder="Ulica">
      </div>
      <div class="col-sm-1">
        <input class="form-control" formControlName="hisnast" type="text" placeholder="Hišna št.">
      </div><div class="col-sm-3">
        <input class="form-control" formControlName="kraj" type="text" placeholder="Pošta">
      </div>

      <small *ngIf="regForm.controls.priimek.errors && !regForm.controls.priimek.untouched" class="text-danger">Polje je obvezno<br/></small>

      <label>Šifra okoliša: </label>
      <select class="form-control" *ngIf="sifreOkolisa" formControlName="sifreOkolisa">
        <option *ngFor="let sifra of sifreOkolisa.results" [ngValue]="sifra">
          {{ sifra.naziv }}
        </option>
      </select>
      <br/>

      <input class="form-control" formControlName="tel" type="text" placeholder="Telefonska številka" required
        pattern="^\d*$">
      <small *ngIf="regForm.controls.tel.errors && !regForm.controls.tel.untouched" class="text-danger">Polje je obvezno</small>
      <small *ngIf="regForm.controls.tel.errors && regForm.controls.tel.errors.pattern" class="text-danger">in telefonska številka lahko vsebuje le številke</small>
      <br/>



  <button class="form-control" type="submit" [disabled]="!regForm.valid">Registriraj</button>
  <small *ngIf="!regForm.valid && !regForm.untouched" class="text-danger">Napačno ste izpolnili podatke. Prosimo, preverite označena polja.</small>
  <button class="form-control" type="submit">Registrirajte oskrbovanca</button>


</form>
  </div>
