<div class="app-body">
  <div class="sidebar">
    <sd-navbar-sestra></sd-navbar-sestra>
  </div>
  <main class="main">
    <p>VNOS MERITEV NA OBISKU {{ obisk?.vrstaObiska }}</p>

      <div class="container">
        <div class="row justify-content-md-center">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div *ngFor="let meritev of meritve">
              <div class="col col-xs-12">
                <div class="panel panel-success">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ meritev.naziv }}<span *ngIf="meritev.je_obvezen">*</span></h3>
                  </div>
                  <div class="panel-body">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad">
                      <div class="ui-grid-row">
                        <div class="input-group">
                          <input
                            type="text"
                            name="{{ meritev.id }}"
                            ngModel
                            [required]=meritev.je_obvezen >
                        </div>
                        <div>
                          {{ meritev?.merska_enota}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="btn btn-success"
              type="submit"
              [disabled]="!f.valid">Submit</button>
          </form>
        </div>
      </div>

  </main>
</div>
