input.ng-invalid.ng-touched {
  border: 2px solid red;
  border-radius: 4px;
}

input {
  width: 100%;
}

.zajem {
  display: flex;
}

.opombe {
  font-size: small;
  font-style: italic;
  color: grey;
}
