<nav class="sidebar-nav">
  <ul class="nav">
    <i class="fa fa-user-circle-o fa-3x ps-align-center" aria-hidden="true"></i>
    <li class="nav-title ps-small-margin-bottom">
      Prijavljeni ste kot {{uporabnik.tipUporabnika}}:
    </li>
    <li class="nav-item ps-nav-item ps-small-margin-bottom ">
      {{ uporabnik.priimek }} {{ uporabnik.ime }}
    </li>
    <li class="nav-title">
      Seznam strani
    </li>

    <li class="nav-item">
      <a [routerLink]="['/nalogi']" [routerLinkActive]="['router-link-active']"
      [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-files-o" aria-hidden="true"></i> Pregled Nalogov</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/nalogi/nov']" [routerLinkActive]="['router-link-active']"
        [routerLinkActiveOptions]="{exact:true}">
          <i class="fa fa-file-o" aria-hidden="true"></i> Kreiraj nalog</a>
    </li>
	
	<li class="nav-item">
      <a [routerLink]="['/seznam-obiskov']" [routerLinkActive]="['router-link-active']"
         [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-list-alt" aria-hidden="true"></i> Pregled obiskov</a>
    </li>

    <li class="nav-item">
      <a [routerLink]="['/prijava']" [routerLinkActive]="['router-link-active']"
      [routerLinkActiveOptions]="{exact:true}">
      <i class="fa fa-lock" aria-hidden="true"></i> Odjava</a>
    </li>
  </ul>
</nav>
