:host {
  display: block;
}

label {
  margin-top: 10px;
}

/* Problem pri theme.css in primeng.css Button znacka pobere plav hover*/
.ui-button.ui-button-danger:hover, .ui-button.ui-button-danger:focus {
    background-color: #d43f3a;
    border-color: #d9534f;
}
.ui-button.ui-button-warning:hover, .ui-button.ui-button-warning:focus {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.ps-nazaj {
  cursor: pointer;
  vertical-align: middle;
}

.ps-nazaj > span {
  font-size: 13pt;
}

.ps-nazaj:hover {
  color: #2BAB3A;
}

.ps-naslov {
  line-height: 19pt;
}

.podrobnosti-container {
  margin-top: 30px;
}

.podrobnosti-header {
  padding: 0.25em 0.5em;
  border-radius: 3px 3px 0 0;
  background-color: #8ee080;
}

.podrobnosti-body {
  padding: 0.25em 0.5em;
  border-radius: 0 0 3px 3px;
  background-color: #daf1d6;
}

.level-1 {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  margin-bottom: 30px;
}

.vrsta-obiska {
  margin: 20px;
}

.fa {
  font-size: 10pt;
  color: #a2a2a2;
}

.margin-right {
  margin-right: 5px;
  margin-left: 3px;
}
