<sd-navbar-sestra></sd-navbar-sestra>
<div class="ui-grid ui-grid-responsive ui-grid-pad">
  <div class="ui-grid-row">
    <div class="ui-grid-col-4">
      <h2>Vsi vaši obiski</h2>
    </div>
  </div>
  <div class="ui-grid-row" *ngFor="let obisk of obiski">
    <div class="ui-grid-col-8">
      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <h3>Obisk: {{ obisk.id }}</h3>
        </div>
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        Datum prvega obiska:
      </div>
      <div class="ui-grid-col-6">
        {{ obisk.predvideni_datum | date }}
      </div>
    </div>
    <div class="ui-grid-row">
      <div class="ui-grid-col-3">
        Pacient:
      </div>
      <div class="ui-grid-col-6">
        {{ obisk.pacient }}
      </div>
    </div>
  </div>
</div>
