<div class="app-body">
  <div class="sidebar">
    <sd-navbar-sestra></sd-navbar-sestra>
  </div>
  <main class="main">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div>
        <div class="ui-grid-col-8">
          <h2>Vaši planirani obiski za današnji dan</h2>
          izberite dan plana
          <div ui-grid-col-6>
            <p-calendar
              [(ngModel)]="danPlana"
              [showIcon]="true"
              [disabledDays]="[0,6]"
              [minDate]="yesterday"
            ></p-calendar>
          </div>
          <button type="button" class="btn btn-success" (click)="getDanasnjeObiske();">Potrebni materiali</button>

          <p-accordion (onOpen)="pridobiVezanegaPacienta(obisk.vezani_pacienti)" [multiple]="true" class="ui-grid-row" *ngFor="let obisk of planiraniObiski">
            <p-accordionTab *ngIf="jePredviden(obisk.dejanski_datum, obisk.predvideni_datum, obisk.je_obvezen_datum)">
              <p-header>
                {{ obisk.vrstaObiska }} pacienta {{ obisk.pacient.ime }} {{ obisk.pacient.priimek }} v {{ obisk.pacient.kraj}}
              </p-header>
              <div *ngIf="obisk.je_obvezen_datum; else elseBlock">
                Ta obisk ima obvezen datum
              </div>
              <ng-template  #elseBlock>
                Ta obisk nima obveznega datuma
              </ng-template>
              <br><br>
              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <strong>Vrsta obiska:</strong>
                </div>
                <div class="ui-grid-col-6">
                  {{ obisk.vrstaObiska }}
                </div>
              </div>

              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <strong>Predviden datum:</strong>
                </div>
                <div class="ui-grid-col-6">
                  {{ obisk.predvideni_datum | date}}
                </div>
              </div>

              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <strong>Pacient:</strong>
                </div>
                <div class="ui-grid-col-6">
                  {{ obisk.pacient.ime }} {{ obisk.pacient.priimek }}
                </div>
              </div>

              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <strong>Številka zdravstvene kartice:</strong>
                </div>
                <div class="ui-grid-col-6">
                  {{ obisk.pacient.stevilkaPacienta}}
                </div>
              </div>

              <div *ngIf="obisk.vezani_pacienti.length > 0">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>VezaniPacienti:</strong>
                  </div>
                </div>
                <div *ngFor="let vezani of vezaniPacienti" >
                  <p style="margin-left: 10px;">
                    Vezani Pacient: {{ vezani?.ime }} {{ vezani?.priimek }} <br>
                    Številka zavarovanja: {{ vezani?.st_kartice }}
                  </p>
                </div>
              </div>

              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <strong>Naslov pacienta:</strong>
                </div>
                <div class="ui-grid-col-6">
                  {{ obisk.pacient.ulica }} {{ obisk.pacient.hisnaStevilka }}, {{ obisk.pacient.kraj }}
                </div>
              </div>

              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <strong>Izdajatelj delovnega naloga:</strong>
                </div>
                <div class="ui-grid-col-6">
                  {{ obisk.zdravnik?.ime }} {{ obisk.zdravnik?.priimek }}
                </div>
              </div>

              <div class="ui-grid-row">
                <div class="ui-grid-col-4">
                  <strong>Šifra izdajatelja:</strong>
                </div>
                <div class="ui-grid-col-6">
                  {{ obisk.zdravnik?.osebna_sifra }}
                </div>
              </div>

              <div *ngIf="obisk.material[0]">
                <div class="ui-grid-row" >
                  <div class="ui-grid-col-4">
                    <strong>Potreben material:</strong>
                  </div>
                  <div *ngFor="let material of obisk.material">
                    {{ material.opis }}, &nbsp;
                  </div>
                </div>
              </div>

              <div *ngIf="!obisk.je_obvezen_datum">
                <hr>
                Spremeni datum obiska:
                <div class="ui-grid-row">
                  <div class="ui-grid-col-5">
                    <p-calendar #dateObisk [showIcon]="true" [placeholder]="'izberi datum'" [disabledDays]="[0,6]" [minDate]="today"></p-calendar>
                  </div>
                  <div class="ui-grid-col-6">
                    <button class="btn btn-success" (click)="onIzberiDatum(obisk.id, dateObisk.inputFieldValue)">Potrdi</button>
                  </div>
                </div>
              </div>
              <div *ngIf="!obisk.je_opravljen">
                <button class="btn btn-primary" style="margin-left: 40px;" [routerLink]="['/meritve', 'vnos', obisk.id]">Vnesi meritve</button>
              </div>
              <div *ngIf="obisk.je_opravljen">
                <button class="btn btn-primary" style="margin-left: 40px;" [routerLink]="['/meritve', 'vnos', obisk.id]">Popravi meritve</button>
              </div>
            </p-accordionTab>
          </p-accordion>
          <hr>
          <div>
            <h2>Prihajajoči obiski</h2>
            <p-accordion (onOpen)="pridobiVezanegaPacienta(obisk.vezani_pacienti)" [multiple]="true" class="ui-grid-row" *ngFor="let obisk of prihajajociObiski">
              <p-accordionTab>
                <p-header>
                  {{ obisk.predvideni_datum | date }} | {{ obisk.vrstaObiska }} pacienta {{ obisk.pacient.ime }} {{ obisk.pacient.priimek }}
                </p-header>

                <div *ngIf="obisk.je_obvezen_datum; else elseBlock">
                  Ta obisk ima obvezen datum
                </div>

                <ng-template  #elseBlock>
                  Ta obisk nima obveznega datuma
                </ng-template>
                <br><br>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>Vrsta obiska:</strong>
                  </div>
                  <div class="ui-grid-col-6">
                    {{ obisk.vrstaObiska }}
                  </div>
                </div>

                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>Predviden datum:</strong>
                  </div>
                  <div class="ui-grid-col-6">
                    {{ obisk.predvideni_datum | date }}
                  </div>
                </div>

                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>Pacient:</strong>
                  </div>
                  <div class="ui-grid-col-6">
                    {{ obisk.pacient.ime }} {{ obisk.pacient.priimek }}
                  </div>
                </div>

                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>Številka zdravstvene kartice:</strong>
                  </div>
                  <div class="ui-grid-col-6">
                    {{ obisk.pacient.stevilkaPacienta}}
                  </div>
                </div>

                <div *ngIf="obisk.vezani_pacienti.length > 0">
                  <div class="ui-grid-row">
                    <div class="ui-grid-col-4">
                      <strong>VezaniPacienti:</strong>
                    </div>
                  </div>
                  <div *ngFor="let vezani of vezaniPacienti" >
                    <p style="margin-left: 10px;">
                      Vezani Pacient: {{ vezani?.ime }} {{ vezani?.priimek }} <br>
                      Številka zavarovanja: {{ vezani?.st_kartice }}
                    </p>
                  </div>
                </div>

                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>Naslov pacienta:</strong>
                  </div>
                  <div class="ui-grid-col-6">
                    {{ obisk.pacient.ulica }} {{ obisk.pacient.hisnaStevilka }}, {{ obisk.pacient.kraj }}
                  </div>
                </div>

                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>Izdajatelj delovnega naloga:</strong>
                  </div>
                  <div class="ui-grid-col-6">
                    {{ obisk.zdravnik?.ime }} {{ obisk.zdravnik?.priimek }}
                  </div>
                </div>

                <div class="ui-grid-row">
                  <div class="ui-grid-col-4">
                    <strong>Šifra izdajatelja:</strong>
                  </div>
                  <div class="ui-grid-col-6">
                    {{ obisk.zdravnik?.osebna_sifra }}
                  </div>
                </div>

                <div *ngIf="obisk.material[0]">
                  <div class="ui-grid-row" >
                    <div class="ui-grid-col-4">
                      <strong>Potreben material:</strong>
                    </div>
                    <div *ngFor="let material of obisk.material">
                      {{ material.opis }}, &nbsp;
                    </div>
                  </div>
                </div>
                <hr>
                Izberite datum obiska:
                <div class="ui-grid-row">
                  <div class="ui-grid-col-5">
                    <p-calendar #dateObisk [showIcon]="true" [placeholder]="'izberi datum'" [disabledDays]="[0,6]" [minDate]="today"></p-calendar>
                  </div>
                  <div class="ui-grid-col-6">
                    <button class="btn btn-success" (click)="onIzberiDatum(obisk.id, dateObisk.inputFieldValue)">Potrdi</button>
                  </div>
                </div>
              </p-accordionTab>
            </p-accordion>
            <div class="ui-grid-col-12 text-center" *ngIf="stStrani>1" style="margin-top: 30px;">
              <span *ngIf="trenutnaStran>1">
                <button class="btn" (click)="onPreviousPage()">Nazaj</button>
              </span>
              <span *ngIf="trenutnaStran < stStrani">
                <button class="btn" (click)="onNextPage()">Naprej</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <p-dialog header="Potrebni material za dan {{ danPlana | date }}" [(visible)]="prikaziMaterial" modal="modal" responsive="true">
      <div *ngFor="let zdravilo of danasnjaZdravila | keyValues">
        {{zdravilo.key}}: {{zdravilo.value}}<br/>
      </div>
      <div *ngFor="let material of danasnjiMaterial | keyValues">
        {{material.key}}: {{material.value}}<br/>
      </div>
    </p-dialog>

  </main>
</div>
