<div class="app-body">
  <div class="sidebar">
    <sd-navbar></sd-navbar>
  </div>
  <main class="main">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-12">
          <h2>Zdravstveno osebje</h2>
        </div>
      </div>

      <table class="table table-striped table-responsive">
      	<thead>
      		<tr>
            <th><strong>OSEBNA ŠIFRA</strong></th>
            <th><strong>IME</strong></th>
      			<th><strong>PRIIMEK</strong></th>
            <th><strong>VRSTA DELAVCA</strong></th>
      			<th></th>
      		</tr>
      	</thead>
      	<tbody>
			<tr *ngFor="let delavec of delavci">
            <td>{{ delavec.osebna_sifra }}</td>
            <td>{{ delavec.ime }}</td>
            <td>{{ delavec.priimek }}</td>
      		<td>{{ delavec.naziv_delavca }}</td>
			<td><span class="podrobnosti-link" (click)="redirect(delavec.osebna_sifra)">posodobi podatke</span></td>

      		</tr>
      	</tbody>
      </table>

    </div>
  </main>
</div>
