<div class="app-body">
  <div class="sidebar">
    <sd-navbar-pacient></sd-navbar-pacient>
  </div>
  <main class="main">
    <div class="ui-grid ui-grid-responsive ui-grid-pad">
      <div class="ui-grid-row">
        <div class="ui-grid-col-1">
          <i class="fa fa-user-o fa-5x ps-profile-pic" aria-hidden="true"></i>
        </div>
        <div class="ui-grid-col-4 ps-margin-left">
          <h2>{{ pacient.ime }} {{ pacient.priimek }}</h2>
          <i class="fa fa-pencil-square-o fa-lg ps-edit-icon ps-margin-left" aria-hidden="true"></i>
          <div class="ps-profile-label ps-margin-left">
            <i class="fa fa-map-marker ps-margin-right" aria-hidden="true"></i>
            <small>hočem okoliš</small>
          </div>
        </div>
      </div>
      <!-- Body od vseh osebnih podatkov -->
      <div class="ui-grid-row pacient">
        <div class="ui-grid-col-12">

          <!-- datum rojstva -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Rojen
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.datumRojstva | date }}
            </div>
          </div>

          <!-- stevilka kartice -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Številka kartice
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.stevilkaPacienta }}
            </div>
          </div>

          <!-- Naslov -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Naslov
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.ulica }} {{ pacient.hisnaStevilka }}, {{pacient.posta}} {{pacient.kraj}}
            </div>
          </div>

          <!-- Eposta -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              E-pošta
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.eposta }}
            </div>
          </div>

          <!-- Telefonska stevilka -->
          <div class="ui-grid-row">
            <div class="ui-grid-col-2 ps-profile-label ps-height-25">
              Telefon
            </div>
            <div class="ui-grid-col-6 ps-height-25">
              {{ pacient.telefon }}
            </div>
          </div>
        </div>
      </div>

      <!-- Sprememba osebnih podatkov -->
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <h3>Sprememba gesla</h3>
        </div>


      </div>

      <div class="ui-grid-row">
        <div class="ui-grid-col-6">
          <form [formGroup]="sForm" (ngSubmit)="spremeni(sForm.value)">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12">
                <label>Trenutno geslo</label>
                <input class="form-control" formControlName="trenutno" type="password"
                  placeholder="Trenutno geslo" >
                <small [hidden]="sForm.controls.trenutno.touched"
                  class="text-danger">
                  Za spremembo gesla morate vnesti trenutno geslo.
                </small>
              </div>
            </div>
            <div class="ui-grid-row" class="form-group" [ngClass]="{'has-error': sForm.controls.geslo1.invalid && sForm.controls.geslo1.touched}">
              <div class="ui-grid-col-12">
                <label>Novo geslo</label>
                <input class="form-control" formControlName="geslo1" type="password"
                  placeholder="Geslo" required validateEqual="geslo2" reverse="true"
                  pattern="((?=.*\d)(?=.*[a-zA-Z]).{8,})">
                <small *ngIf="(sForm.controls.geslo1.errors && sForm.controls.geslo1.errors.pattern)
                   || (sForm.controls.geslo1.errors && !sForm.controls.geslo1.untouched)" class="text-danger">
                   Geslo mora obsegati vsaj 8 znakov in vsebovati vsaj eno številko.
                 </small>
              </div>
            </div>
            <div class="ui-grid-row" class="form-group" [ngClass]="{'has-error': sForm.controls.geslo2.invalid && sForm.controls.geslo2.touched}">
              <div class="ui-grid-col-12">
                <label>Ponovite novo geslo</label>
                <input class="form-control" formControlName="geslo2" type="password"
                  placeholder="Potrdite geslo" validateEqual="geslo1" reverse="false">
                <small [hidden]="sForm.controls.geslo2.valid || (sForm.controls.geslo2.untouched)"
                  class="text-danger">
                  Gesli se ne ujemata.
                </small>
              </div>
            </div>
            <div class="ui-grid-row pull-right ps-margin-top">
              <div class="ui-grid-col-6">
                <button class="btn btn-primary" type="submit" [disabled]="!sForm.valid">Shrani</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <p-dialog header="Uspeh!" [(visible)]="prikaziPregled" modal="modal" responsive="true">
      <div class="ui-grid ui-grid-responsive ui-grid-pad">
        Sprememba gesla je bila uspešna.
      </div>
      <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton class="ui-button-success" (click)="prikaziPregled=false" label="Zapri"></button>
        </div>
      </p-footer>
    </p-dialog>

    <p-dialog header="Napaka!" [(visible)]="prikaziNapako" modal="modal" responsive="true">
      <div class="ui-grid ui-grid-responsive ui-grid-pad">
        Trenutno geslo ni pravilno!
      </div>

      <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" pButton icon="fa-close" class="ui-button-warning" (click)="prikaziNapako=false" label="Zapri"></button>
        </div>
      </p-footer>
    </p-dialog>

  </main>
</div>
