:host {
  display: block;
}

label {
  margin-top: 10px;
}

.col-sm-8, .col-sm-8 {
  padding: 0px;
}

.register-block {
    max-width: 968px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #71d161;
    border-top: 5px solid #5ab953;
    margin: 0 auto;
    margin-top: 50px;
    overflow: auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}
