<sd-navbar></sd-navbar>
  <div class="form-group">
<form [formGroup]="regForm" (ngSubmit)="registriraj(regForm.value)">
<p></p>

      <input class="form-control" formControlName="ime" type="text" placeholder="Ime"><br/>
      <input class="form-control" formControlName="priimek" type="text" placeholder="Priimek"><br/>

      <!--- todo boljse markiranje napacno izpolnjenih polj --->
      <!---
      <small *ngIf="regForm.controls.ime.errors && !regForm.controls.ime.untouched" class="text-danger">Polje je obvezno</small>
      <small *ngIf="regForm.controls.priimek.errors && !regForm.controls.priimek.untouched" class="text-danger">Polje je obvezno</small><br/>
      --->

      <p-calendar  formControlName="datumRojstva" dateFormat="dd.mm.yy" [locale]="si" [maxDate]="minDate" [defaultDate]="minDate" [yearNavigator]="true" [monthNavigator]="true" placeholder="Datum rojstva"></p-calendar><br/><br/>

      <label>Spol: </label>
      <p-radioButton name="spol" label="Ženski" value="false" formControlName="spol"></p-radioButton>
      <p-radioButton class="left-margin" name="spol" label="Moški" value="false" formControlName="spol"></p-radioButton><br/><br/>

      <input class="form-control" formControlName="zavarovanje" type="text" placeholder="Številka zavarovanja" required
        pattern="^\d*$"><br/>



        <!---
      <small *ngIf="regForm.controls.zavarovanje.errors && !regForm.controls.zavarovanje.untouched" class="text-danger">Polje je obvezno</small><br/>
      <small *ngIf="regForm.controls.zavarovanje.errors && regForm.controls.zavarovanje.errors.pattern" class="text-danger">Številka zavarovanja lahko vsebuje le številke</small><br/>
      --->

      <input class="form-control" formControlName="naslov" type="text" placeholder="Naslov"><br/>
      <!---
      <small *ngIf="regForm.controls.priimek.errors && !regForm.controls.priimek.untouched" class="text-danger">Polje je obvezno</small><br/>
      --->

      <input class="form-control" formControlName="sifraOkolisa" type="text" placeholder="Šifra okoliša" required
        pattern="^\d*$"><br/>
        <!---
      <small *ngIf="regForm.controls.sifraOkolisa.errors && !regForm.controls.sifraOkolisa.untouched" class="text-danger">Polje je obvezno</small><br/>
      <small *ngIf="regForm.controls.sifraOkolisa.errors && regForm.controls.sifraOkolisa.errors.pattern" class="text-danger">Šifra lahko vsebuje le številke</small><br/>
      --->

      <input class="form-control" formControlName="tel" type="text" placeholder="Telefonska številka" required
        pattern="^\d*$"><br/>
        <!---
      <small *ngIf="regForm.controls.tel.errors && !regForm.controls.tel.untouched" class="text-danger">Polje je obvezno</small><br/>
      <small *ngIf="regForm.controls.tel.errors && regForm.controls.tel.errors.pattern" class="text-danger">Telefonska številka lahko vsebuje le številke</small><br/>
      --->

    <input class="form-control" formControlName="email" type="email" placeholder="Email" required
      pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"><br/>
      <!---
      <small *ngIf="regForm.controls.email.errors && !regForm.controls.email.errors.untouched" class="text-danger">Polje je obvezno</small><br/>
      <small *ngIf="regForm.controls.email.errors && regForm.controls.email.errors.pattern" class="text-danger">Email mora slediti formatu <i>email@email.si</i>.</small><br/>
      --->


    <input class="form-control" formControlName="geslo2" type="password" placeholder="Potrdite geslo" validateEqual="geslo1" reverse="false"><br/>

    <!---
    <small [hidden]="regForm.controls.geslo2.valid || (regForm.controls.geslo2.untouched)" class="text-danger">Gesli se ne ujemata!</small><br/>
    --->

  <button class="form-control" type="submit" disabled>Dodaj odvisnega člana</button><br/>

  <button class="form-control" type="submit" [disabled]="!regForm.valid">Registriraj</button>


</form>
  </div>
